*{
    margin: 0px;
    padding: 0px;
}

.navbar{
  background-color:#1e58e0 ;
}

.nav-list{
  color: White;
  font-weight: 400;
  text-align: center;
  position: relative;
  margin: 1.2rem;  
}
.list-item{
display: inline;
margin: .5rem;
}
.nav-list a{
  color: white;
  font-size: 18px;
  text-decoration: none;
 }

 .nav-list a:hover{
  color: white;
  font-size: 18px;
  display: inline-block;
  text-decoration: none; 
  font-weight: 400;
  text-decoration: underline; 
 }

 /* container1 sectioon area  */

 .container1{
  background-color: #84a4ef;
  display: flex;
  padding: 15px 20px 15px 200px;
 }
 .profile-image img{
  width: 50%;
  height: auto;
  padding-right: 10%;
  position: flex;
 }